* {
  font-family: 'Inter';
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

input,
textarea,
select,
button {
  border: 1px solid black;
  font: inherit;
  color: inherit;
  padding: 0;
}

#form {
  display: flex;
  flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    padding: 10px 0;
}